<h1>STUFF FOR SALE</h1>
<p>Members: Erik Falck, Fredrik Wallenius, Konstantinos Tsolakis</p>
<p>App that lets cafés, bakeries and similar shops and stores put out fresh groceries (bread, pastries, "räkmackor"..) out for sale during their last opening hours. The things the owner would have to throw away when closing since they wouldn't stay fresh for the next day.

The price of the groceries/goods for sale will constantly go down until closing time when it will be free. So as a buyer it is a "competition": how long do I dare to wait for the price to go down and somebody else does not buy the last piece.</p>

