<div class="item-details" ng-click="selectItem">
    <img class="item-image" ng-src="{{::item.imageId}}"/>
    <section>
        <header data-ng-bind="::item.title"></header>
        <p data-ng-bind="::item.description"></p>
        <p>Price: <span data-ng-bind="::item.price"></span></p>
        <p>Quantity: <span data-ng-bind="::item.amount"></span></p>


        <form id="checkout" method="post" action="/checkout">
            <div id="payment-form"></div>
            <input type="number" ng-change="updatePrice()" ng-model="quantity" min="1" max="{{item.amount}}" value="1">
            <input type="submit" value="Pay {{totalPrice}}">
        </form>
    </section>
</div>