<div class="item-details row" ng-click="selectItem">
    <img class="item-image col-xs-4" ng-src="{{::item.imageId}}"/>
    <section class="col-xs-8">

        <header><span class="storename" data-ng-bind="store.name"></span> - <span data-ng-bind="item.title"></span></header>
        <p data-ng-bind="item.description"></p>
        <p>Current Price Each: <span data-ng-bind="price | number : 2 "></span> SEK</p>
        <!-- <p>Offer ends in: <span data-ng-bind="timeUntil(currentTime)"></span></p> -->

        <p>Offer Ends At: <span data-ng-bind="item.endTime | date:'MMM dd, HH:mm'"></span></p>
    </section>
    <!-- <form class="pay-form col-xs-12" ng-submit="submit()"> -->
    <!-- <form class="pay-form col-xs-12" method="post" action="http://localhost:8080/api/checkout"> -->
    <form class="pay-form col-xs-12" method="post" action="http://146.148.25.35/api/checkout">
        <div id="payment-form"></div>
        <input name="id" ng-show="false" type="text" ng-model="item._id">
        <input name="price" ng-show="false" type="text" ng-model="totalPrice">
        <input name="redirectPage" ng-show="false" value="http://172.16.90.94:9000/#/success" type="text">
        <div class="row">
            <div class="quantityPart">Quantity: <input class="quantity" name="quantity" type="number" ng-change="updatePrice()" ng-model="quantity" min="1" max="{{item.amount}}"> / <span data-ng-bind="item.amount"></span></div>
            <input class="pay-button btn btn-primary" type="submit" value="Pay {{totalPrice | number : 2}} SEK">
        </div>
    </form>
</div>