<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

  <div ng-repeat="product in allProducts" class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading{{$index}}">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapse{{$index}}" aria-expanded="false" aria-controls="collapse{{$index}}">
          {{ product.title }} - Price: {{ product.price }} - Quant. {{ product.amount }}
        </a>
      </h4>
    </div>
    <div id="collapse{{$index}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{$index}}">
      <div class="panel-body productItem">
        <div class="row">
          	<div class="col-xs-4">
          		<img ng-src="{{product.imageId}}" style="width: 100%;"/>
          	</div>
            <div class="col-xs-8">
              <ul id="productAttrs">
                <li>Amount: {{product.amount}}</li>
                <li>Price: {{product.price}}</li>
              </ul>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>