<form ng-submit="submit()">
  <div class="form-group">
    <label for="productName">Product</label>
    <input type="text" class="form-control" id="productName" placeholder="Product Name" ng-model="productName">
  </div>
  <div class="form-group">
    <label for="productAmount">Amount</label>
    <input type="number" class="form-control" id="productAmount" placeholder="Amount in pcs's" ng-model="productAmount">
  </div>
  <div class="form-group">
    <label for="productPicture">File input</label>
    <input type="file" id="productPicture" accept="image/*" onchange="angular.element(this).scope().previewImage(this)"/>
    <p class="help-block">Take a picture of the product</p>
    <!-- <div ng-show="pictureTaken" class="pictureContainer"> -->
    	<img ng-show="pictureTaken" id="productPicturePreview" src="{{pictureURL}}"/>

    <!-- </div> -->
  </div>
  
  <div class="form-group">
      <div class='input-group date' id='datetimepicker1'>
          <input type='text' class="form-control" ng-model="endTime"/>
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
          </span>
      </div>
  </div>
  <script type="text/javascript">
      $(function () {
          $('#datetimepicker1').datetimepicker();
      });
  </script>
  <div class="form-group">
    <label for="productStartPrice">Starting Price</label>
    <input type="number" class="form-control" id="productStartPrice" placeholder="Starting Price in SEK" ng-model="productStartPrice">
  </div>
  <div class="form-group">
    <label for="productFinalPrice">Final Price</label>
    <input type="number" class="form-control" id="productFinalPrice" placeholder="Final Price in SEK" ng-model="productFinalPrice">
  </div>
  <button id="submitnew" type="submit" class="btn btn-primary">Save</button>
</form>
