


<div class="row">
  <div ng-repeat="product in data" class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="{{product.imageId}}" style="height: 200px; width: 100%; display: block;">
      <div class="caption">
        <h3>{{ product.title }}</h3>
        <ul class="list-group">
				  <li class="list-group-item">Items left: {{ product.amount }}</li>
				  <li class="list-group-item">Current price each: {{ product.finalPrice | number : 2 }}</li>
				</ul>
        <p><a href="#/stores/{{product.sellerId}}/items/{{product._id}}?price={{product.finalPrice}}" class="btn btn-primary" role="button">Buy now!</a></p>
      </div>
    </div>
  </div>
</div>

